[tool.poetry]
name = "kkcos-mobile"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.11"
httpx = "^0.24.0"
flet = "^0.25.0"
sqlmodel = "0.0.18"

