name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install flet

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.27.1'

      - name: Build APK
        run: |
          # 1. Copiamos la lista de ingredientes dentro de la carpeta de la app
          cp requirements.txt mobile_app/
          
          # 2. Ejecutamos el constructor apuntando a la carpeta y al nombre del archivo correcto
          # "yes" acepta licencias, "mobile_app" es la carpeta, "--module-name" es tu archivo
          yes | flet build apk mobile_app --module-name main_flet --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: kkcos-app-release
          path: build/apk/app-release.apk
